<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <title>Geographic Coordinates and Dataframe</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5 text-center">Wylosowane współrzędne geograficzne Paryża </h1>
      <div class="coordinates text-center mt-3">
        <p>Szerokość geograficzna: {{ latitude }}</p>
        <p>Długość geograficzna: {{ longitude }}</p>
      </div>
        
      <div class="dataframe-container text-center mt-5">
          <p>Najbliższych 5 stacji rowerowych w pobliżu: </p>
        {{ dataframe | safe }}
      </div>
    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
